<launch>
  <!-- start world -->
  <!-- <node name="gazebo" pkg="gazebo" type="gazebo" 
   args="$(find chairbot_simulation)/worlds/office2.world" respawn="false" output="screen" /> -->
  <env name="TURTLEBOT3_MODEL" value="waffle_pi" />

  <param name="/use_sim_time" value="true" />

  <arg name="map_file" default="$(find chairbot_multi)/maps/office_map2.yaml"/>


  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" >
    <param name="frame_id" value="map" />
  </node>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find chairbot_navigation)/worlds/office2.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="output" value="screen"/>
    <arg name="extra_gazebo_args" value="--lockstep"/>
  </include>

  <!-- include our robots -->
  <include file="$(find chairbot_multi)/launch/robots.launch"/>
</launch>