<launch>
    <arg name="robot_name"/>
    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_z" default="0.0"/>
    <arg name="initial_pose_a" default="0.0"/>
    <arg name="publish_frequency" default="50.0"/>
    <arg name="tf_prefix" default="$(arg robot_name)"/>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" />


    <node name="spawn_chairbot_model" pkg="gazebo_ros" type="spawn_model"
     args="-urdf -param robot_description -model $(arg robot_name)
           -x $(arg initial_pose_x) 
           -y $(arg initial_pose_y) 
           -z $(arg initial_pose_z) 
           -Y $(arg initial_pose_a)"
     respawn="false" />

    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="multi_robot_name" value="$(arg tf_prefix)" />
    </include>

    <!-- Include the gmapping launch file -->
    <!-- <include file="$(find chairbot_multi)/launch/navigation/gmapping.launch">
        <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    </include> -->

    <group ns="/$(arg tf_prefix)/map_merge">
        <param name="init_pose_x" value="$(arg initial_pose_x)"/>
        <param name="init_pose_y" value="$(arg initial_pose_y)"/>
        <param name="init_pose_z" value="$(arg initial_pose_z)"/>
        <param name="init_pose_yaw" value="$(arg initial_pose_a)"/>
        <param name="init_pose_x" value="0.0"/>
        <param name="init_pose_y" value="0.0"/>
        <param name="init_pose_z" value="0.0"/>
        <param name="init_pose_yaw" value="0.0"/>
    </group>


    <include file="$(find ros_multi_tb3)/launch/includes/move_base.launch">
      <arg name="model" value="$(arg model)" />
      <arg name="move_forward_only" value="false"/>
      <arg name="cmd_vel_topic" value="/$(arg tf_prefix)/cmd_vel"/>
      <arg name="namespace" value="$(arg tf_prefix)"/>
    </include>

    <!-- <include file="$(find chairbot_multi)/launch/move_base.launch">
      <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    </include> -->

    <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg tf_prefix)_tf_broadcaster"  args="0 0 0 0 0 0 /map /$(arg tf_prefix)/map 20"/>
</launch>