<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find chairbot_simulation)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!-- BEGIN ROBOT 1-->
  <group ns="tb3_0">
    <param name="tf_prefix" value="tb3_0" />
    
    <include file="$(find chairbot_multi)/launch/one_robot.launch" >
      <arg name="robot_name"  value="tb3_0" />
      <arg name="initial_pose_x" value="1.22"/>
      <arg name="initial_pose_y" value="6.03"/>
      <arg name="initial_pose_a" value="0.00"/>
      <arg name="model" value="$(arg model)" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="tb3_1">
    <param name="tf_prefix" value="tb3_1" />
    <include file="$(find chairbot_multi)/launch/one_robot.launch" >
      <arg name="robot_name"  value="tb3_1" />
      <arg name="initial_pose_x" value="8.28"/>
      <arg name="initial_pose_y" value="6.40"/>
      <arg name="initial_pose_a" value="-0.01"/>
      <arg name="model" value="$(arg model)" />
    </include>
  </group>

  <!-- BEGIN ROBOT 3-->
  <group ns="tb3_2">
    <param name="tf_prefix" value="tb3_2" />
    <include file="$(find chairbot_multi)/launch/one_robot.launch" >
      <arg name="robot_name"  value="tb3_2" />
      <arg name="initial_pose_x" value="7.99"/>
      <arg name="initial_pose_y" value="8.82"/>
      <arg name="initial_pose_a" value="0.97"/>
      <arg name="model" value="$(arg model)" />
    </include>
  </group>

  <!-- Run path planning -->
  <!-- <node name="path_planning" pkg="chairbot_path_planning" type="path_planning.py" output="screen">
  </node> -->
</launch>