<launch>
  <!-- Arguments -->
  <arg name="tf_prefix" default=""/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
  
  <arg name="initial_pose_x" default="1.00"/>
  <arg name="initial_pose_y" default="0.00"/>
  <arg name="initial_pose_a" default="0.00"/>

  <arg name="set_base_frame" default="$(arg tf_prefix)/base_footprint"/>
  <arg name="set_odom_frame" default="$(arg tf_prefix)/odom"/>
  <arg name="set_map_frame"  default="$(arg tf_prefix)/map"/>

  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="turtlebot3_slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg set_base_frame)"/>
    <param name="odom_frame" value="$(arg set_odom_frame)"/>
    <param name="map_frame"  value="$(arg set_map_frame)"/>
    <rosparam command="load" file="$(find chairbot_multi)/param/gmapping_params.yaml" />

    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
  </node>
</launch>

