<launch>
  <param name="/use_sim_time" value="true"/>

  <arg name="map_file" default="$(find chairbot_multi)/maps/office_map2.yaml"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" >
    <param name="frame_id" value="/map" />
  </node>


 <!-- Properties of each robot      -->

  <!-- AMCL      -->
  <include file="$(find chairbot_multi)/launch/navigation/amcl.launch">
    <arg name="tf_prefix" value="tb3_0"/>
  </include>
  <include file="$(find chairbot_multi)/launch/navigation/amcl.launch">
    <arg name="tf_prefix" value="tb3_1"/>
  </include>
  <include file="$(find chairbot_multi)/launch/navigation/amcl.launch">
    <arg name="tf_prefix" value="tb3_2"/>
  </include>

<!-- MOVE_BASE-->

  <include file="$(find chairbot_multi)/launch/navigation/move_base.launch">
    <arg name="tf_prefix" value="tb3_0"/>
  </include>
  <include file="$(find chairbot_multi)/launch/navigation/move_base.launch">
    <arg name="tf_prefix" value="tb3_1"/>
  </include>
  <include file="$(find chairbot_multi)/launch/navigation/move_base.launch">
    <arg name="tf_prefix" value="tb3_2"/>
  </include>

<!-- Launching Rviz      -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_mapping_launcher)/rviz/navigation.rviz" />
</launch>